* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #242424;
  padding: 32px;
}

h1 {
  padding-bottom: 30px;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ol {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  color: white;
  border-style: none;
}

select {
  align-self: flex-start;
  padding: 10px;
}

.sing-in {
  background-color: rgb(106, 106, 167);
  padding: 10px;
  align-self: flex-start;
  border-radius: 8px;
}

header h1 {
  grid-area: title;
}

header select {
  grid-area: select;
}


header img {
  height: 48px;
  align-items: flex-end;
}

header ol {
  text-align: center;
  position: absolute;
  top: 90px;
  right: 32px;
  background-color: #696969;
  padding: 5px 10px;
  border-radius: 5px;
}

header ol li {
  margin: 3px 0px;
}

header ol button {
  background-color: #696969;
}

header ol li button:hover {
  background-color: #8a8a8a;
  width: 100%;
}

.filter-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: price;
}

.user-controller {
  display: flex;
  flex-direction: column;
  grid-area: user;
}

.motorcycle-list img {
  width: 100%;
  height: auto;
}

.motorcycle-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  );
  gap: 32px;
}

.motorcycle-list li {
  box-shadow: 0px 0px 30px #000;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  color: black;
}

.motorcycle-list img {
  max-width: 350px;
}

.motorcycle-list button {
  background-color: #242424;
  padding: 8px 15px;
  border-radius: 8px;
}

.motorcycle-list input {
  padding: 7px 10px;
  border-radius: 5px;
  /* box-shadow: 0px 1px 5px #ffffff; */
  border-style: none;
}

.description {
  padding: 10px;
}

.price {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

/* Login */
.container-login img {
  width: 100%;
  height: auto;
}
.container-login {
  display: grid;
  grid-template-columns: 50% 50%;
}
.form {
  padding: 0px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  display: grid;
  gap: 15px;
}

form input {
  padding: 7px 10px;
  border-radius: 5px;
  border-style: none;
}

form button {
  background-color: rgb(106, 106, 167);
  padding: 10px;
  align-self: flex-start;
  border-radius: 8px;
}

.btn-login {
  margin-top: 30px;
  padding: 10px;
  font-weight: 600;
  background-color: rgb(106, 106, 167);
  color: white;
  cursor: pointer;
}

/* Calender */
.calender {
  display: grid;
  place-items: center;
  gap: 10px;
  width: 550px;
  margin: 0 auto;
}
.calender ol {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calender li {
  text-align: right;
}
.first-day {
  grid-column-start: 2;
}
.day-name {
  background-color: #696969;
  font-weight: bold;
  text-align: center;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px;
  font-weight: 600;
  background-color: rgb(106, 106, 167);
  color: white;
  cursor: pointer;
}
.buttons button:first-child {
  background-color: rgb(106, 167, 114);
}

/* My Rental */
.rental-date {
  display: flex;
  justify-content: space-between;
}
.total-price {
  color: rgb(63, 182, 103);
}
.buttons-rental {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 5px 0px;
}
.buttons-rental button:first-child {
  background-color: rgb(106, 167, 114);
}

/* Media Querys */

@media (width < 680px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  header ol {
    top: 285px;
    left: 35%;
    right: 35%;
  }
  .filter-price {
    margin: 20px 0px;
  }
  .motorcycle-list img {
    max-width: 500px;
  }
}

@media (width < 900px) {
  .img-login {
    display: none;
  }
  .container-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}